version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: ticket-mysql
    environment:
      MYSQL_ROOT_PASSWORD: 9193
      MYSQL_DATABASE: ticket
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ticket-phpmyadmin
    environment:
      PMA_HOST: mysql
    ports:
      - "8080:80"

volumes:
  mysql_data:
