spring:
  datasource:
    url: jdbc:mysql://mysql:3306/ticket?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 9193
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  data:
    redis:
      host: redis
      port: 6379

server:
  port: 808
